# ID do usuário e grupo (Rode o comando 'id' no terminal para conferir) e o insira
PUID=1000
PGID=1000

# Fuso horário (Ex: UTC, Your Place)
TIMEZONE=UTC

# Porta padrão de acesso via navegador
PORT=3000